*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: lightgray;
  }
}

body.t-light {
	background-color: #fff;
}

body.t-dark {
	background-color: #323234;
}

.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  stroke: #777;
  stroke-width: 2px;
}

.label {
  font-size: 10pt !important;
  transform: translate(20px, 20px);
}